 <!-- Footer -->

 <section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Our Promise</span>
            <span class="section-heading-lower">To You</span>
          </h2>
          <h2>  Découvrez nos catégories de machines à café et cafetières</h2>
          <p>
        
 

          Le café se déguste aujourd’hui comme un grand cru.
           Intense et corsé ou plus doux et délicat, chaque type de grains de 
         café apporte ses arômes et ses effluves. Mais pour déguster ce breuvage
            ébène sans le dénaturer, le recours à une machine à café d’excellence est primordial.
             Chaque cafetière vient alors sublimer et
           faire naître les arômes au contact de l’eau chaude. Une expérience gustative unique. </p>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Copyright &copy; Your Website 2020</p>
  </div>
</footer>
