
 <section class="page-section">
    <div class="container">
      <div class="product-item">
        
       
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
    <div class="card h-100">
        <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <a routerLink="product/{{product.id}}">{{ product.productName }}</a>
                <span class="section-heading-lower">Coffees &amp; Teas</span>
              </h2>
            </div>
          </div>
      <a href="#"><img class="card-img-top" src="{{product.productImg}}" alt=""></a>
      <div class="card-body">
       
       
        <p class="card-text">{{ product.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ product.rating}} Stars</small>
      </div>
    </div>
  </div>
  
 
</div>

</div>
</div>
</section>
