<h2 class="bg-light mb-2">Add New Product</h2>

<form (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm" >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Product Name</label>
        <input type="text" class="form-control" value="Enter Product Name" required name="product_name" ngModel>
      </div>


      <div class="col-md-6 mb-3">
        <label for="validationServer02">Category Id</label>
        <input type="number" class="form-control"
          
         [(ngModel)]="product.categoryId" #i="ngModel"  required >
      </div>

      <div class="alert alert-danger" *ngIf="i.invalid"> not required </div>  



      <div class="col-md-6 mb-3">
        <label for="validationServer02">Category Img</label>
        <input type="text" class="form-control" required name="product_img" ngModel>
      </div>
    </div>  

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Description</label>
        <textarea type="text" class="form-control" placeholder="Enter Product Description" 
        required name="description" 
        [(ngModel)]="product.description" #t="ngModel" required minlength="3" >
        </textarea>
     
      <div class="alert alert-danger"  *ngIf="t.invalid" >  
   min 3 
      </div>
    </div>


      <div class="col-md-6 mb-3">
        <label>Rating</label>
        <select class="custom-select" required name="product_rating" ngModel>
          <option selected value="">Choose...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div> 

    <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">Product Color</label>
          <input type="text" class="form-control" value="Enter Product Name" 
          required name="color" ngModel  
          [(ngModel)]="product.color" #e="ngModel"  required minlength ="3">   
 
        <div class="alert alert-danger"  *ngIf="e.invalid" >  
          min 3 
        </div>
      </div> 
 
        <div class="col-md-6 mb-3">
          <label for="validationServer02">Is Avaiable</label>
          <select class="custom-select" required name="product_available" ngModel>
            <option selected value="">Choose...</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">Product Price</label>
          <input type="text" class="form-control" value="Enter Product Name" required name="product_price" ngModel>
        </div>

        <div class="col-md-6 mb-3">
          <label for="validationServer02">Reviews</label>
          <select class="custom-select" required name="product_reviews" ngModel>
            <option selected value="">Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">2</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>  
    <button class="btn btn-primary" type="submit" [disabled]="addProductForm.invalid" >Submit form</button>
  </form>